* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.container{
  display:flex;
  justify-content:center;
  gap: 10px;
  margin-bottom: 10px;
  }

input[type=text]{
  border: 1px solid blue;
  text-align: center;
  color: yellow;
  background: blue;
  padding: 10px 10px;
  border-radius: 3px;
}

.btn {
  width: 65px;
}

.timer {
  display: flex;
  justify-content:center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 65px;
}
.value {
  color: blue;
  font-size: 32px;
}